.horizontal-top-menu{
  list-style-type: none;
  align:left;
}

.horizontal-top-menu li{
  display: inline;
  padding-right: 5vmax;
  padding-left:0;
  text-align: left
}

.footer-menu,
.vertical-top-menu{
  list-style-type: none;
}

.vertical-top-menu{
  padding-top:10px;
}

.vertical-top-menu li{
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-menu li a{
  text-decoration: none;
  color: #fff;
}

.footer-menu li a:hover{
  text-decoration: none;
  color: #aaa;
}

#hamburgernav{
  color:#000;
}

#hamburgernav:hover{
  color:#888;
}

/*Angular animate code.*/
.nav-vert.ng-enter{
  transition: .5s linear all;
  opacity:0;
  transform: translateX(-50%);
}

.nav-vert.ng-enter.ng-enter-active{
  opacity:1;
  transform: translateX(0);
}

.nav-vert.ng-leave{
  transition: .5s linear all;
  opacity:1;
  transform: translateX(0);
}

.nav-vert.ng-leave.ng-leave-active{
  opacity:0;
  transform: translateX(-100%);
}