h1{
	font-family: 'Cinzel', serif;
}

.font-style2{
	font-family: 'Oswald', sans-serif;
}

.small-text{
	font-size:10pt;
}
.medium-text{
	font-size:16pt;
}

.no-space{
	margin-top: 0px;
}

.medium-top-margin{
	margin-top: 30px;
}

.content-margin{
	margin-top: 30px;
}

.small-text-padding{
	padding-top:2px;
	padding-bottom:2px;
}

.medium-text-padding{
	padding-top:5px;
	padding-bottom:5px;
}
/*blue*/
.bg-1{ background-color: #0d132d; }
.font-1{ color: #0d132d; }

/*white*/
.font-2{ color: #fff; }
.tp-btm-padding-lg{
	padding-top:5vmax;
	padding-bottom:5vmax;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  font-size: 20px;
  z-index: 10;
}

.logo-img{
  height:5vmax;
}